<div class="row">

	<div class="col-sm-12">
		<ul class="nav nav-pills">  
		  <li role="presentation"><a href="">Open file...</a></li>	
		  <li role="presentation"><a href="">Open URL...</a></li>	
		  <li role="presentation"><a href="">Generate</a></li>	  
		</ul>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading">Filter</div>
		  <div class="panel-body">
		   	<div class="input-group">
		   		<span class="input-group-btn">
		   			<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">Choose</button>
		   			<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">Apply</button>
		   		</span>			   		
		   		<input type="text" class="form-control" placeholder="None"></input>
		   	</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">Current relation</div>
		  <div class="panel-body">
		   		<div>Relation: none</div>
		   		<div>Instances: none</div>
		   		<div>Attributes: none</div>				
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">Attributes</div>
		  <div class="table-responsive">
		   	<table class="table">
				<thead>
					<tr>
						<th>No.</th>
						<th></th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><input type="checkbox" ></td>
						<td>A1</td>    						
					</tr>
					<tr>
						<td>2</td>
						<td><input type="checkbox" ></td>
						<td>A2</td>    						
					</tr>
					<tr>
						<td>3</td>
						<td><input type="checkbox" ></td>
						<td>A3</td>    						
					</tr>
					<tr>
						<td>4</td>
						<td><input type="checkbox" ></td>
						<td>A4</td>    						
					</tr>
				</tbody>
				</table>
		  </div>
		</div>
	</div>
	
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading">Current relation</div>
		  <div class="panel-body">
		   		<div>Name: A1</div>
		   		<div>Type: Numering</div>
		   		<div>Missing: 0%</div>	
		  </div>
		</div>
	</div>
			
</div>


	    
	    